<div class="col-md-4 col-md-offset-4">
    <%= simple_form_for @cashier do |f| %>
        <p>
            <%= f.input :name %>
        </p>
        <p>
            <%= f.input :status %>
        </p>
        <%= f.button :submit %>
        
    <% end %>

</div>