<h1>Cashier Index</h1>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Admin</th>
        <th>Action</th>
    </tr>
    <% @cashiers.each do |p| %>
        <tr>
            <td><%= p.id %></td>
            <td><%= p.name %></td>
            <td><%= p.status %></td>
            <td><%= if p.admin then p.admin.email else "NA" end %></td>
            <td><%= link_to "Show", cashier_path(p) %></td>

        </tr>
    <% end %>
</table> 