<h2>Show Cashier</h2>
<h3> Cashier #<%= @cashier.id %></h3>

<h4>Cashier name: <%= @cashier.name %></h4>


<p>
    Status: <%= if @cashier.status then "Active" else "Inactive" end %>
</p>

<%= link_to "Back to Index", cashiers_path %><br>
<%= link_to "Edit", edit_cashier_path(@cashier) %>