/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
body
{
    padding-left: 40px;
    padding-top: 100px;
    padding-right: 40px;
    color: black;
    background-color: white;
}

th{
    background-color: black;
    color: white;
    text-align: center;
}


table
{
    text-align: center;
    background-color: #B2BABB;
    color: black;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

div
{
    border-right: 1px solid #FFFFFF;
    
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
color: black;
}

.navbar-default {
    background-color: #2F3FB0;
    border-color: #030033;
    color: #FFFFFF;
}

  .navbar-default .navbar-nav > li > a {
   color: white; 
    }

li {
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
}

li:last-child
{
    border-right: none;
}