<h1>Product Index</h1>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    <% @products.each do |p| %>
        <tr>
            <td><%= p.id %></td>
            <td><%= p.name %></td>
            <td><%= p.price %></td>
            <td><%= p.status %></td>
            <td><%= link_to "Show", product_path(p) %></td>
        </tr>
    <% end %>
</table> 