<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid navbar-fnt">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">ZSCH Bakery</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="https://lab3-shanelseedee.c9users.io/products/">Products List</a></li>
        <li><a href="https://lab3-shanelseedee.c9users.io/cashiers#">Cashiers List</a></li>
      </ul>
      
    <p class="navbar-text pull-right">
        <% if admin_signed_in? %>
          Logged in as <strong><%= current_admin.email %></strong>
          <%= link_to "Logout", destroy_admin_session_path, method: :delete, class: "navbar-link"%>
        <% else %>
          <%= link_to "Sign up", new_admin_registration_path, class: "navbar-link" %> |
          <%= link_to "Sign in", new_admin_session_path, class: "navbar-link" %>
        <% end %>
      </p> 

      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>